.agenda {
    padding-bottom: 60px;
    
    h4 {
        // padding-bottom: 35px;
        
        &.card-title {
            padding-bottom: 0;
            margin-bottom: 5px;
        }
    }

    h6 {
        font-family: $secondary-font;
        margin-bottom: 0;
    }

    .date {
        padding-bottom: 0;        
    }
}