.cc-window {
    background-color: rgba(0,0,0,.6);

    span {
        color: white;
    }

    .cc-link {
        color: white;
        text-decoration: none;
        
        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }

    .cc-compliance {
        background-color: $yellow; 
        .dismiss.cookie.message {
        }

        .cc-btn {
            border: none;
        }
    }
}