.cmrg-hero {
    background-color: beige;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
        background-color: rgba(0,0,0,.3);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .cmrg-slider-img {
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}

.cmrg-home-nav {
    color: white;
    display: none;
    height: 100vh;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 1;

    @media (min-width: 576px) {
        display: block;
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
            transition-duration: 2s;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-control {
        z-index: 2;
    }
}