img,
svg {
    max-width: 100%;
}

.thumbnail {
    margin-bottom: 15px;
}

.logo_acessibilidade {
    display: flex;
    
    img {
        max-width: 100px;
    }
}

.logo-sticky {
    max-width: 150px;
}

