.cmrg-sticky {
  display: none;

  .fixed-top {
    top: 30px;
  }
}

.cmrg-navbar-items {
  padding-top: 52px;
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: $light-green;
  }
}

.home-nav {
  display: flex;
  width: 100%;
  background-size: cover;
}

.nav-item-bg {
  background-size: cover;
}

.main-nav-item {
  color: rgba(255, 255, 255, .7);
  display: block;
  font-family: 'Catamaran', sans-serif; // padding: 15px 25px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.navigation {
  a {
    color: white;
    display: inherit;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $yellow;
    }
  }
}

.cmrg-nav {
  position: relative;
}

.social-search {
  position: absolute;
  right: 0;
  top: -40px;
}

.dropdown-toggle::after {
  border: none;
  content: "\f078";
  font-family: FontAwesome;
  font-size: .5em;
  padding-right: 10px;;
}

.level-one {
  background-color: rgba( 0,0,0,0);
  display: inline-block;
  padding: 15px 25px;
  position: relative;
  transition: all 0.3s ease-in-out;

  // &::before {
  //   background-color: rgba( 255, 255, 255, 0);
  //   bottom: 0;
  //   content: '';
  //   display: block;
  //   height: 3px;
  //   left: 50%;
  //   padding-top: 15px;
  //   position: absolute;
  //   transform: translate( -50%);
  //   transition: all 0.3s ease-in-out;
  //   width: 1px;
  //   z-index: 1;
  // }

  &:hover {
    background-color: rgba(0,0,0,.6);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

    // &::before {
    //   background-color: rgba( 255, 255, 255, 1);
    //   bottom: 0;
    //   transition: all 0.3s ease-in-out;
    //   width: 20%;
    // }
  }
}

.nav-item.social-icons {
  margin: 3px 10px 0;
}

.level-two {
  background-color: rgba( 0,0,0,.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  left: 50%;
  top: 54px;
  // min-width: 210px;
  // padding: 25px 16px 15px;
  position: absolute;
  transform: translate(-50%);
  width: 100%;
  z-index: 1;

  li {
    // background-color: rgba( 0,0,0,.7);
    padding: 5px;
    margin-bottom: 0;   
  }
}

.level-one:hover .level-two {
  display: block;
}

.home-nav-item {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  height: 100vh;
  position: relative;
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    background-color: rgba(0,0,0,.6);
    display: block;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 1;
  }
  
  &:hover {
    color: rgba(255, 255, 255, 1); // margin-top: -60px;
    text-decoration: none;
    
    &::before {
      background-color: rgba( 0, 0, 0, .5);
      height: 100vh;
      top: 0; 
      // top: calc( -50vh + 60px );
      transform: translate(0);
      // width: 100%;
  }
    
    ul {
      display: block;
    }
    
    a {
      color: white;
      &:hover {
        color: $yellow;
      }
    }

    .menu-item {

      &::before {          
        background-color: rgba( 255, 255, 255, 1);
        bottom: 10px;
        transition: all 0.3s ease-in-out;
        width: 30px;
      }
    }
  }

  ul {
    display: none;
    position: relative;
    z-index: 9;
    a {
      color: white;
      position: relative;
    }
  }
}

.menu-item {
  color: rgba(255, 255, 255, 1);
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.4em;
  padding: 15px 0;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &::before {
    content: '';
    background-color: rgba( 255, 255, 255, 0);
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translate( -50%);
    width: 1px;
    z-index: 1;
  }
  
  span {
    position: relative;
    z-index: 2;
  }
}

.search {
  display: none;
  margin-right: 20px
}

.search-btn {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin-top: -15px;
  width: 25px;

  svg {
    fill: white;
    transition: all 0.3s ease-in-out;    
  }

  &:hover {
    svg {
      fill: $yellow;
    }
  }
}

.nav-item.nav-search {
  display: flex;
  align-items: center;

  .search {
    background: rgba(0,0,0,0.2);
    border-bottom: none;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    margin-right: 12px;
    padding: 5px;
  }

  .search-btn {
    margin-top: -7px;
  
    svg {
      fill: $dark-green;
      transition: all 0.3s ease-in-out;    
    }
  
    &:hover {
      svg {
        fill: $light-green;
      }
    }
  }
}