// generic css header.
.home--header {
  display: flex;
  padding: 0 5%;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 9;

  .logo {
    width: 20%;
    max-width: 250px;
    // margin-left: 5%;

    img {
      max-width: 100%;
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;

    input {
      background: rgba(0,0,0,.6);
      border-bottom: none;
      border-left: 1px solid rgba(255, 255, 255, .5);
      border-right: 1px solid rgba(255, 255, 255, .5);
      border-top: none;
      // height: 25px;
      padding: 5px;
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  font-size: .8em;
  font-weight: 100;
  padding: 5px 10px 10px;
}