.menu-footer-menu-container .menu-item {
    font-size: .9em;
    padding: 5px 1px;
}

.copyright-text {

    p {
        font-size: .8em;
        margin-bottom: 0;
        padding: 10px 0 5px;
    }
}