.footer-bottom {
    // background-image: linear-gradient(to bottom, rgba(242,242,242,0.9),#f2f2f2);
    background-color: rgba(17, 17, 17, 0.9);
    padding: 60px 0;

    strong {
        font-family: $main-font;
        color: white;
    }

    h3 {
        padding-bottom: 15px;
    }

    p,
    h3,
    a {
        color: white;        
    }


    a {
        color: rgb(33, 155, 211);        
    }

    a:hover {
        color: $yellow;        
    }

    p {
        font-size: .9em;
        display: inline-block;
    }
}

.footer-contacts {

    h6,
    p {
        display: inline-block;
    }
}

.logo-footer {
    margin-bottom: 25px;
    max-width: 150px;
    transform: translate(-3px);
}

.footer-quicklinks {

    a {
        font-family: $main-font;
        
        &:hover {            
            h5 {
                color: #63A590;            
            }
        }
        
        h5 {
            color: #124a4f;
            transition: all 0.3s ease-in-out;    
        }
    }
}

.logos_acessibilidade {
    display: flex;
    align-content: center;
}