.marquee {
    background: #0f3441;
    border-bottom: 1px solid #2a8980;
    left: 0;
    overflow: hidden;
    padding: 5px 0 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;

    a {
        color: white;
        padding-right: 15px;

        &:hover {
            color: $yellow;
        }
    }
  }
  